img {
  width: 200px;
  height: 200px;
}

body {
  background-color: LemonChiffon;
}

p {
  color: blue;
  text-color: yellow;
}

#banner {
  font-size: 50px;
}

.click {
  border-style: 1px black dashed;
}
